{% from '_macros/lib.twig' import errorList %}
{% from '_macros/lib.twig' import showFlash %}

{% set message = message ?? create('craft\\contactform\\models\\Submission') %}

{{ showFlash() }}

{# Avoid PhpStorm killing syntax awareness, so output form tag as twig string #}
{{ '<form method="post" action="" accept-charset="UTF-8"> ' }}
{{ csrfInput() }}
<input type="hidden" name="action" value="contact-form/send">

<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">

    <div class=""><label for="from-name">{{ 'Your Name'|t }}</label>
        <input id="from-name" type="text" name="fromName" value="{{ message.fromName }}">
        {{ errorList(message.getErrors('fromName')) }}
    </div>

    {% set errors = message.getErrors('fromEmail') %}
    <div class=""><label for="from-email">{{ 'Your Email'|t }} <span class="text-red-500">*</span> </label>
        <input class="{{ errors ? 'bg-red-200 border border-red-700' }}"
               id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail }}">
        {{ errorList(errors) }}
    </div>

</div>

<div class="my-4"><label for="subject">{{ 'Subject'|t }}</label>
    <input id="subject" type="text" name="subject" value="{{ message.subject }}">
    {{ errorList(message.getErrors('subject')) }}
</div>

{% set errors = message.getErrors('message') %}
<div class="my-4"><label for="message">{{ 'Message'|t }} <span class="text-red-500">*</span></label>
    <textarea class="{{ errors ? 'bg-red-200 border border-red-700' }}" rows="5"
              id="message" name="message"
              oninput='this.style.height = "";this.style.height = this.scrollHeight  + "px"'>{{ message.message }}</textarea>
    {{ errorList(errors) }}
</div>
<div>
    <input type="submit"
           value="{{ 'Send'|t }}">
</div>
{{ '</form>' }}


