{% from '_macros/lib.twig' import errorList %}
{% from '_macros/lib.twig' import showFlash %}


{{ showFlash() }}

{# Avoid PhpStorm killing syntax awareness, so output form tag as twig string #}
{{ '<form method="post" action="" accept-charset="UTF-8"> ' }}
{{ csrfInput() }}
<input type="hidden" name="action" value="contact-form/send">

<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">

    <div class="form-group"><label for="from-name">{{ 'Your Name'|t }}</label>
        <input class="form-control" id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}">
        {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
    </div>

    <div class="form-group"><label for="from-email">{{ 'Your Email'|t }} <span class="text-red-500">*</span> </label>
        <input class="form-control" id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}">
        {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
    </div>

</div>

<div class="form-group"><label for="subject">{{ 'Subject'|t }}</label>
    <input class="form-control" id="subject" type="text" name="subject" value="{{ message.subject ?? '' }}">
    {{ message is defined and message ? errorList(message.getErrors('subject')) }}
</div>

<div class="form-group"><label for="message">{{ 'Message'|t }} <span class="text-red-500">*</span></label>
    <textarea class="form-control" rows="5" id="message" name="message">{{ message.message ?? '' }}</textarea>
    {{ message is defined and message ? errorList(message.getErrors('message')) }}
</div>
<div>
    <input class="cursor-pointer bg-primary text-white px-4 py-2 hover:bg-primary-dark" type="submit"
           value="{{ 'Send'|t }}">
</div>
{{ '</form>' }}


