{% set image = entry.featuredImage[0]??null %}

<div class="sm:flex mb-3 bg-white">

    {% set image = image ?? siteInfo.featuredImage.one ?? null %}
    {% if image %}
        <div class="flex-shrink-0">
            <a href="{{ entry.url }}">
                <img class="img-scale rounded" src="{{ image.url('galleryThumbnail') }}" alt="{{ image.title }}"
                     loading="lazy">
            </a>
        </div>
    {% endif %}
    <div class="px-3">
        <h2>{{ entry.link }}</h2>
        {% block teaser %}
            {% if entry.teaser %}
                <div>{{ entry.teaser }}</div>
            {% endif %}
        {% endblock %}
        <div class="my-3">
            {% block content %}{% endblock %}
        </div>
    </div>

</div>
