{% set transform = {width:220, height:150} %}
{% set entries = craft.entries
    .orderBy('title')
    .with([
    ['featuredImage', {withTransforms:[transform]}]
])
    .all %}
{% set defaultImage = siteInfo.featuredImage.one %}

{% set sections = craft.app.sections.allSections %}

{% set sections = sections|sort((a,b) => a.name|t <=> b.name|t) %}

<section class="gallery" x-data="{ tab: 'all' }">
    <div class="sort">
        <ul class="sort-links">
            <li class="link-item">
                <a href="#" @click.prevent="tab = 'all'" :class="{ 'active' : tab === 'all' }">{{ 'All'|t }}</a>
            </li>
            {% for section in sections %}
                <li class="link-item">
                    <a href="#" @click.prevent="tab = '{{ section.handle }}'"
                       :class="{ 'active' : tab === '{{ section.handle }}' }">{{ section.name|t|replace({' ':'&nbsp;'})|raw }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="images">

        {% for entry in entries %}
            <div class="singleImg" x-show="tab === '{{ entry.section.handle }}' || tab === 'all'">
                <a href="{{ entry.url }}">
                    {% set image = entry.featuredImage[0] ?? defaultImage ?? null %}
                    {% if image %}
                        <img src="{{ image.url(transform) }}" alt="{{ image.title|e('html_attr') }}">
                    {% endif %}
                    <h5>{{ entry.title }}</h5>
                </a>
            </div>
        {% endfor %}


    </div>
</section>


{% css %}
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    width: 90%;
    margin: 1em auto;
}

.sort {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0.25em 0;
}

.sort-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    list-style-type: none;
}

.link-item {
    padding: .25em .5em 0;
    margin: .25em 0;
}

.link-item a:hover, .link-item a.active {
    color: red;
    border-bottom: 2px solid red;
}

.link-item a {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid black;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 95%;
    margin: 1em 0;
}

.singleImg {
    background-color: #ffffff;
    margin: .25em;
    max-width: 225px;
    text-align: center;
}

.singleImg h5 {
    padding: 6px;
}
{% endcss %}
