<div class="relative" @click.away="dropDown = 0" >

    <div @click.stop="dropDown = (dropDown == {{ index }} ?  0 : {{ index }});"
         @mouseenter.debounce.100="dropDown = {{ index }}"
         class="cursor-pointer flex flex-row items-center w-full text-left lg:w-auto lg:inline">

        <span class="nav-link pr-0">{{ block.caption }}</span>

        <svg fill="currentColor" viewBox="0 0 20 20"
             :class="{'rotate-180': dropDown == {{ index }}, 'rotate-0': dropDown != {{ index }}}"
             class="inline w-4 h-4 mt-1 ml-1 lg:-mt-1 transform">
            <path fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
        </svg>

    </div>

    <div x-show.transition="dropDown == {{ index }}"
         @mouseleave="dropDown = 0"
         class="z-50 absolute lg:left-0 left-auto lg:mt-2 px-2 py-5 bg-white shadow-2xl lg:w-64">

        {% for navEntry in block.entries %}
            <a class="block my-4 truncate nav-link w-64" href="{{ navEntry.url }}">{{ navEntry.title }}</a>
        {% endfor %}

    </div>

</div>
