{% set entry = block.target.one %}
{% if entry %}
    <a href="{{ entry.url }}"
       class="{{ display in ['left','right'] ? 'w-100 text-center block' : 'inline-block' }} my-3 py-2 px-4 bg-{{ block.color }} text-white hover:bg-{{ block.color }}-dark hover:text-white">{{ block.caption ?: entry.title }}</a>
{% endif %}
