{% set images = block.images
    .withTransforms(['galleryThumbnail','galleryFullHeight'])
    .all %}

{% if images %}

    <div class="gallery-{{ block.id }} grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-3 gap-2">
        {% for image in images %}

            {% set caption =  image.title %}

            <div class="relative">
                <a href="{{ image.url('galleryFullHeight') }}" data-caption="{{ caption }}">
                    {{ image.img('galleryThumbnail')|attr({alt: image.altText}) }}
                </a>
                <div style="left:50%;transform: translate(-50%);"
                     class="absolute bottom-0 text-center text-white pb-2 text-sm">{{ caption }}</div>
            </div>

        {% endfor %}

    </div>

    {% js %}
        initLightBox('.gallery-{{ block.id }}');
    {% endjs %}

{% endif %}

