{% macro linkTo(text, url, target='') %}
    <a href="{{ url }}" target="{{ target }}">{{ text }}</a>
{% endmacro %}

{% macro linkList(links, showPostDate=false) %}
    <ul class="list-none">
        {% for link in links %}
            <li class="my-2">
                {% if showPostDate %}
                    <div class="text-gray-900">{{ link.postDate }}</div>
                {% endif %}
                <a href="{{ link.href }}">{{ link.text }}</a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro errorList(errors) %}
    {% if errors %}
        <div class="mb-8">
            {% for error in errors %}
                <div class="text-red-500">{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro showFlash() %}
    {% if craft.app.session.hasFlash('notice') %}
        <div class="my-4 p-4 border border-green-700 bg-green-200 text-green-700">{{ craft.app.session.getFlash('notice')|t }}</div>
    {% elseif craft.app.session.hasFlash('error') %}
        <div class="my-4 p-4 border border-red-700 bg-red-200 text-red-700">{{ craft.app.session.getFlash('error')|t }}</div>
    {% endif %}
{% endmacro %}


